
.list{
    background-color: black;
    display: flex;
    list-style: none;
}
.list2{
    background-color: white;
    display: block;
    list-style: none;
    align-items: center;
    padding-inline-start: 0px;
}
.item{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
}
.list2 .item{
    color: black;
}
li{
    padding: 20px;
}
.box{
    display: none;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 92px;
    left: 360px;
    text-align: center;
}
li:hover{
    background-color: red;
    z-index: 1;
}
.dropdown:hover .box{
    display: block;
    position: absolute;
    z-index: 2;
}